<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280523469282-dgtnbu36chi0lhn8k61bkvrm4lhgcq1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280523469282-dgtnbu36chi0lhn8k61bkvrm4lhgcq1j</string>
	<key>API_KEY</key>
	<string>AIzaSyBtDc-wTwh_ATa2Wz4l0iZN1q6JffkpCFg</string>
	<key>GCM_SENDER_ID</key>
	<string>280523469282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AppChatBot.ChatBot</string>
	<key>PROJECT_ID</key>
	<string>chatbot-c3f55</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbot-c3f55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280523469282:ios:feb76fa33809f09331c9bb</string>
	<key>DATABASE_URL</key>
	<string>https://chatbot-c3f55-default-rtdb.firebaseio.com</string>
</dict>
</plist>